@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.title {
  font-size: 4vw;
  text-transform: uppercase;
  font-family: "Anton", sans-serif; 
  font-weight: bold; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 20vh;
  width: 100%;
}

/* If viewport width is less than 900px */
@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 10vh;
  }
  .title {
    font-size: 4vw;
  }
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search,
.select {
  width: 43%;
}
