@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.title {
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Anton", sans-serif; 
  letter-spacing: 0.05em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 4vh;
  width: 100%;
  letter-spacing: 0.05em;
}

/* If viewport width is less than 900px */
@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 4vh;
    letter-spacing: 0.05em;
  }
  .title {
    font-size: 4vw;
    letter-spacing: 0.05em;
  }
}

.inputs {
  width: 100%;
  display: flex;
  font-size: 4vw;
  letter-spacing: 0.05em;
}

.search,
.select {
  width: 43%;
  letter-spacing: 0.05em;
}
